//Nguyễn Nhật Duy

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clear-both {
  clear: both;
}
html,
body {
  width: 100%;
  height: 100%;
}
//Nguyễn Nhật Duy
//Cụm rạp
#cumRap {
  height: 885px;
  width: 100%;
}
#cumRap .bg {
  padding-top: 120px;
  background: url(../img/back-news.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#cumRap .cumRap__content {
  width: 1110px;
  height: 705px;
}
#logo_cinemas {
  height: 705px;
  width: 105px;
  float: left;
  border: 1px solid #ebebec;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#logo_cinemas ul {
  list-style-type: none;
  height: 100%;
  width: 100%;
  text-align: center;
}
#logo_cinemas ul li {
  width: 90px;
  height: 90px;
  float: right;
}
#logo_cinemas ul li a {
  width: 50px;
  height: 50px;
  padding: 20px;
  position: relative;
  transition: all 0.2s;
}
#logo_cinemas ul li a img {
  width: 50px;
  height: 50px;
}

#logo_cinemas ul li a:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 50px;
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.88);
}

#listCinemas {
  width: 330px;
  height: 705px;
  float: left;
  border: 1px solid #ebebec;
  border-left: none;
}

#listCinemas .listCinemas__item {
  height: 89px;
  width: 296px;
  padding: 16px 15px 0px 20px;
  position: relative;
  margin-bottom: 5px;
}
#listCinemas .listCinemas__item img {
  width: 50px;
  height: 50px;
  float: left;
}
#listCinemas .listCinemas__item .info {
  margin-left: 60px;
  cursor: pointer;
}
#listCinemas .listCinemas__item .BHD__color {
  display: block;
  color: #8bc541;
  line-height: 1.4;
  font-size: 14px;
  font-weight: bold;
}
#listCinemas .listCinemas__item .tenRap {
  font-size: 13px;
  color: #000;
  font-weight: normal;
}
#listCinemas .listCinemas__item .info__movie {
  display: block;
  line-height: 1.4;
  font-size: 13px;
  color: #949494;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#listCinemas .listCinemas__item .chiTiet a {
  display: block;
  color: #fb4226;
  transition: all 0.2s;
  font-size: 13px;
}
#listCinemas .listCinemas__item .chiTiet a {
  text-decoration: none;
}

#listCinemas .listCinemas__item:after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 50%;
  width: 261px;
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.88);
}

#khongSuatChieu {
  text-align: center;
  font-size: 15px;
  width: 665px;
  height: 705px;
  float: left;
  border: 1px solid #ebebec;
  border-left: none;
  font-weight: bold;
}
#khongSuatChieu p {
  margin-top: 30px;
}
//Nguyễn Nhật Duy
//Tin tức
#tinTuc {
  width: 100%;
  height: 1150px;
}
#myTab {
  border-bottom: none;
  width: 500px;
  height: 35px;
  margin: auto;
}
#myTab .nav-item .nav-link.active {
  background: none;
  border: none;
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  color: #fa5238;
}
#myTab .nav-item .nav-link:hover {
  font-size: 24px;
  line-height: 24px;
  height: 24px;
}
#myTab .nav-item .nav-link {
  background: none;
  border: none;
  font-size: 18px;
  line-height: 24px;
  height: 24px;
  color: #000;
  transition: 0.2s all;
  font-weight: bold;
}
#tinTuc .bg {
  padding-top: 120px;
  background: url(../img/back-news.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.dienAnh24h__news .news__left,
.dienAnh24h__news .news__right {
  width: 403px;
  padding: 10px;
  box-sizing: border-box;
}
.dienAnh24h__news .news__left a,
.dienAnh24h__news .news__right a {
  font-size: 24px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: all 0.2s;
}
.dienAnh24h__news .news__left a:hover,
.dienAnh24h__news .news__right a:hover {
  color: rgb(250, 14, 14);
}

.dienAnh24h__news .news__left a h4,
.dienAnh24h__news .news__right a h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  height: 42px;
  font-size: 20px;
  transition: color 0.2s;
  margin-top: 10px;
  margin-bottom: 5px;
}

.dienAnh24h__news .news__left p,
.dienAnh24h__news .news__right p {
  text-align: justify;
  font-size: 15px;
  color: #4a4a4a;
  padding: 0 5px 0 0;
  line-height: 19px;
  letter-spacing: 0.17;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 55px;
  margin-bottom: 15px;
}
.icon__like__comment {
  height: 25px;
  float: left;
  width: 100%;
}
.icon__like__comment .like,
.icon__like__comment .comment {
  width: 36px;
  height: 20px;
  margin-right: 25px;
  cursor: pointer;
}

.icon__like__comment .like img,
.icon__like__comment .comment img {
  display: table-cell;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 2px;
  height: auto;
  width: 18px;
  transition: all 0.2s;
  display: inline-block;
}
.icon__like__comment .like:hover img,
.icon__like__comment .comment:hover img {
  transform: scale(1.2);
}
.icon__like__comment .like span,
.icon__like__comment .comment span {
  color: #bbb;
  font-size: 12px;
  line-height: 1;
}
.list__news {
  margin-top: 15px;
}
.list__news .news {
  padding: 10px;
  box-sizing: border-box;
}
.list__news .col-sm-4 a {
  font-size: 24px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: all 0.2s;
}
.list__news .col-sm-4 a img {
  border-radius: 3px;
  margin-bottom: 5px;
}
.list__news .col-sm-4 a:hover {
  color: rgb(250, 14, 14);
}
.list__news .col-sm-4 .title h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  height: 42px;
  font-size: 20px;
  transition: color 0.2s;
  margin-bottom: 10px;
}

.list__news .col-sm-4 .p__text {
  text-align: justify;
  font-size: 15px;
  color: #4a4a4a;
  padding: 0 5px 0 0;
  line-height: 19px;
  letter-spacing: 0.17;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 55px;
  margin-bottom: 15px;
}
.news__4 {
  margin-top: 10px !important;
}
.news__4 .col-sm-12 {
  margin-bottom: 15px;
}
.news__4 img {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 10px;
  border-radius: 4px;
}
.news__4 a {
  font-size: 24px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: all 0.2s;
}
.news__4 a:hover {
  color: rgb(250, 14, 14);
}
.news__4 a h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  font-family: "SF Medium";
  height: 42px;
  font-size: 16px;
  transition: color 0.2s;
  margin-bottom: 5px;
}

.xemThem button {
  font-size: 14px;
  color: #949494;
  border: 1px solid #949494;
  border-radius: 4px;
  text-align: center;
  background: 0 0;
  padding: 7px 25px;
  transition: all 0.2s;
  margin: auto;
  margin-top: 35px;
  display: block;
}
.xemThem button:hover {
  background-color: #fb4226;
  border-color: #fb4226;
  color: #fff !important;
}
//Nguyễn Nhật Duy
//Footer
#tixFooter {
  width: 100%;
  height: 420px;
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #949494;
}
#tixFooter .tix__title {
  color: #fff;
  font-size: 80%;
}
#tixFooter .tix__content .row {
  margin-left: 0px;
}
//tix
.tix a {
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  font-weight: 700;
  white-space: nowrap;
  color: #949494;
  display: block;
  transition: all 0.2s;
  line-height: 2.3;
}
.tix a:hover {
  color: #fff;
}
.col-sm-4,
.col-sm-6,
.col-sm-12 {
  padding: 0;
  margin: 0;
}
//Đối tác
.footer__logo a img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  transition: 0.2s all;
  opacity: 1;
}
.footer__logo a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: all 0.2s;
  background-color: transparent;
}
.footer__logo a:hover img {
  background-color: #fff9;
  opacity: 0.7;
}
//Mobile APP , Social
.mobile__social a {
  text-decoration: none;
  cursor: pointer;
}

.mobile__social a img {
  background: 0 0;
  height: 30px;
  width: auto;
  margin: 5px;
}

// the HR
.footer__hr {
  border-top: 1px solid #4a4a4a;
}

// địa chỉ
.footer__diaChi {
  padding-bottom: 20px;
}
.footer__diaChi img {
  width: 80px;
  height: auto;
  border-radius: 8px;
}

.footer__diaChi h5 {
  color: #fff;
  display: block;
  line-height: 1.8;
  font-size: 12px;
}
.footer__diaChi p {
  display: block;
  line-height: 1.8;
  color: #949494;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.diaChi__email {
  color: #fb4226;
}
.diaChi__email:hover {
  text-decoration: none;
  cursor: pointer;
  color: #d82b22;
}

.daThongBao a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: all 0.2s;
}
.daThongBao a img {
  width: 130px;
  float: right;
}
//Nguyễn Nhật Duy
//Responsive
@media (max-width: 576px) {
  #tinTuc {
    width: 100%;
    height: 1150px;
  }
  #myTab {
    border-bottom: none;
    width: 500px;
    height: 35px;
    margin: auto;
  }
  #myTab .nav-item .nav-link.active {
    background: none;
    border: none;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    color: #fa5238;
  }
  #myTab .nav-item .nav-link:hover {
    font-size: 24px;
    line-height: 24px;
    height: 24px;
  }
  #myTab .nav-item .nav-link {
    background: none;
    border: none;
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    color: #000;
    transition: 0.2s all;
    font-weight: bold;
  }
  #tinTuc .bg {
    padding-top: 120px;
    background: url(../img/back-news.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .dienAnh24h__news .news__left,
  .dienAnh24h__news .news__right {
    width: 403px;
    padding: 10px;
    box-sizing: border-box;
  }
  .dienAnh24h__news .news__left a,
  .dienAnh24h__news .news__right a {
    font-size: 24px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: all 0.2s;
  }
  .dienAnh24h__news .news__left a:hover,
  .dienAnh24h__news .news__right a:hover {
    color: rgb(250, 14, 14);
  }

  .dienAnh24h__news .news__left a h4,
  .dienAnh24h__news .news__right a h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    height: 42px;
    font-size: 20px;
    transition: color 0.2s;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .dienAnh24h__news .news__left p,
  .dienAnh24h__news .news__right p {
    text-align: justify;
    font-size: 15px;
    color: #4a4a4a;
    padding: 0 5px 0 0;
    line-height: 19px;
    letter-spacing: 0.17;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 55px;
    margin-bottom: 15px;
  }
  .icon__like__comment {
    height: 25px;
    float: left;
    width: 100%;
  }
  .icon__like__comment .like,
  .icon__like__comment .comment {
    width: 36px;
    height: 20px;
    margin-right: 25px;
    cursor: pointer;
  }

  .icon__like__comment .like img,
  .icon__like__comment .comment img {
    display: table-cell;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 2px;
    height: auto;
    width: 18px;
    transition: all 0.2s;
    display: inline-block;
  }
  .icon__like__comment .like:hover img,
  .icon__like__comment .comment:hover img {
    transform: scale(1.2);
  }
  .icon__like__comment .like span,
  .icon__like__comment .comment span {
    color: #bbb;
    font-size: 12px;
    line-height: 1;
  }
  .list__news {
    margin-top: 15px;
  }
  .list__news .news {
    padding: 10px;
    box-sizing: border-box;
  }
  .list__news .col-sm-4 a {
    font-size: 24px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: all 0.2s;
  }
  .list__news .col-sm-4 a img {
    border-radius: 3px;
    margin-bottom: 5px;
  }
  .list__news .col-sm-4 a:hover {
    color: rgb(250, 14, 14);
  }
  .list__news .col-sm-4 .title h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    height: 42px;
    font-size: 20px;
    transition: color 0.2s;
    margin-bottom: 10px;
  }

  .list__news .col-sm-4 .p__text {
    text-align: justify;
    font-size: 15px;
    color: #4a4a4a;
    padding: 0 5px 0 0;
    line-height: 19px;
    letter-spacing: 0.17;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 55px;
    margin-bottom: 15px;
  }
  .news__4 {
    margin-top: 10px !important;
  }
  .news__4 .col-sm-12 {
    margin-bottom: 15px;
  }
  .news__4 img {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 4px;
  }
  .news__4 a {
    font-size: 24px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: all 0.2s;
  }
  .news__4 a:hover {
    color: rgb(250, 14, 14);
  }
  .news__4 a h4 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    font-family: "SF Medium";
    height: 42px;
    font-size: 16px;
    transition: color 0.2s;
    margin-bottom: 5px;
  }

  .xemThem button {
    font-size: 14px;
    color: #949494;
    border: 1px solid #949494;
    border-radius: 4px;
    text-align: center;
    background: 0 0;
    padding: 7px 25px;
    transition: all 0.2s;
    margin: auto;
    margin-top: 35px;
    display: block;
  }
  .xemThem button:hover {
    background-color: #fb4226;
    border-color: #fb4226;
    color: #fff !important;
  }
  //Footer
  #tixFooter {
    margin-top: 850px;
    height: 1200px;
  }
  #myTab .nav-item .nav-link.active {
    font-size: 15px;
    line-height: 15px;
    height: 15px;
  }
  #myTab .nav-item .nav-link:hover {
    font-size: 15px;
    line-height: 15px;
    height: 15px;
  }
  #myTab .nav-item .nav-link {
    font-size: 13px;
    line-height: 15px;
    height: 15px;
  }
  .daThongBao a img {
    float: left;
  }
}
